.produit-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.code-produit {
    margin-left: 60px;
    padding-left: 10px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
    margin-bottom: 10px;
}

.nom-produi{
    margin-left: 30px;
    margin-right: 40px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
    margin-bottom: 10px;
}

.discription-produit {
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}


.prix-achat{
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.prix-vente{
    margin-left: 60px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.note-produit{
    padding-left: 10px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: rgb(70, 140, 245);
}

.produit-enregistrer {
    margin-right: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(70, 140, 245);
    background-color: transparent;
    color: rgb(70, 140, 245);

}

.produit-annuler {
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(70, 140, 245);
    background-color: transparent;
    color: rgb(70, 140, 245);
}

.btn-produit-modal{ 
    margin-top: 30px;
    margin-left: 230px;
}